<div class="row">
  <div class="large-12 columns">
  	<% content_for :head do %>
		  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
		<% end %>	
		<h3>Edit <%= resource_name.to_s.humanize %></h3>
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
		  <%= f.error_notification %>
		  <%= display_base_errors resource %>
		  <%= f.input :name, :autofocus => true %>
		  <%= f.input :email, :required => true %>
		  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
		  <%= f.input :password_confirmation, :required => false %>
		  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
		  <%= f.button :submit, 'Update', :class => 'button' %>
		<% end %>
	<h4>Payment Options</h4>
	<div class="panel">
		<div class="row">
			<div class="small-12 large-6 columns">
				<h5><strong>Subscription Plan</h5></strong>
					<p>
					  Current: <%= @user.roles.first.name.titleize %></p>					  							
								<%= simple_form_for resource, :as => resource_name, :url => update_plan_path, :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
								    <div class="header">
								      <h5><strong>Change Plan</h5></strong>
								    </div>
								    <div class="body">
								      <%= f.input :role_ids, :collection => Role.all.delete_if {|i| i.name == 'admin'}, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline' %>
									    </div>
									    <div class="footer">
									      <%= f.submit "Change Plan", :class => "button tiny" %>
									    </div>
									  <% end %>									
								</div>
							<div class="small-12 large-6 columns">
								<h5><strong>Credit Card</h5></strong>
									<p>
								  	Using card ending with <%= @user.last_4_digits %></p>								 
										<%= simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f| %>
										    <div class="header">
										      <h5><strong>Change Credit Card</h5></strong>
										    </div>
										    <div class="body">
										      <div class="field">
										        <%= label_tag :card_number, "Credit Card Number" %>
										        <%= text_field_tag :card_number, nil, name: nil %>
										      </div>
										      <div class="field">
										        <%= label_tag :card_code, "Card Security Code (CVV)" %>
										        <%= text_field_tag :card_code, nil, name: nil %>
										      </div>
										      <div class="field">
										        <%= label_tag :card_month, "Card Expiration" %>
										        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
										        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
										      </div>
										      <%= f.hidden_field :name %>
										      <%= f.hidden_field :email %>
										      <%= f.hidden_field :stripe_token %>
										    </div>
										    <div class="footer">
										      <%= f.submit "Change Credit Card", :class => "button tiny" %>
										    </div>
										  <% end %>
										</div>
									</div>
								</div>					
		<h4>Cancel my account</h4>
		<div class="panel">
		<p>Unhappy? We will be sad to see you go. :-( <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
		<%= link_to "I can't do it! Take me back!", :back %>
		</div>
	</div>
</div>

