<div class="off-canvas-wrap" data-no-turbolink>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h2 class="title"><a href="/">Code Coalition</a></h2>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

    </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
                  <li><label>Code Coaliton</label></li>
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <!-- <li><a href="/teaching">Teaching</a></li> -->
          <li><%= link_to('Discussion', discussion_path) %></li>
          <!-- <li><a href="/studio">Studio</a></li> -->
          <!-- <li><a href="/contact">Contact</a></li> -->
          <li><%= link_to('More Courses', courses_path) %></li>
          <li><a href="/updates/">Subscribe to our Newsletter</a></li>

        <li class="has-form">
          <form class="search-form" method="get" action="http://www.google.com/search">
            <input class="hide" type="checkbox"  name="e-mail" value="codecoalition.com" checked >
            <div class="row">
              <div class="large-10 large-centered columns">
                <div class="row collapse">
                  <div class="large-9 small-10 columns">
                    <input type="text" placeholder="Enter Your Email" name="q">
                  </div>
                  <div class="large-3 small-2 columns">
                    <a href="#" class="success button expand search-submit-button">&raquo;</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </li>

      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
      <li><label>Dashboard</label></li>
        <% if user_signed_in? %>
          <li><%= link_to('Settings', edit_user_registration_path) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path) %></li>
          <li><%= link_to('Register', new_user_registration_path) %></li>
        <% end %>
          <% if can? :view, :iosbc %>
            <li><label>My Courses</label></li>
            <li><%= link_to('iOSBootcamp', content_iosbc_path) %></li>
          <% end %>
      </ul>
    </aside>

    

    <section class="main-section">
      <!-- content goes here -->