<!DOCTYPE html>
<html lang="en">
  <head> 
    <script type='text/javascript' src='https://dpremmz485l7o.cloudfront.net/jwplayer.js'></script>
    <script type="text/javascript">jwplayer.key="WuuLiGJjp/Xo1ZZKf48LUxfnMbDT7gYI3OSkRA==";</script>
  <%= render 'layouts/disscusionheader' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Code Coalition" %></title>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/mainnav' %>
      <%= render 'layouts/message' %>
       <div class="section-inner" style="padding-top:4%">
          
        <%= yield %>
           
    
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    </div>
  </div>
</div>
    <a class="exit-off-canvas"></a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" defer></script>

     <script>
      $(document).foundation();
    </script>

    <%= javascript_include_tag "application", :defer => "defer" %>
    
  </body>
</html>